/* From: http://histography.io/ */
#line,
#mouse_move{
	position:absolute;
	height:100%
}


#current_year,
#cursor
,#line{
	background:#fff
}

#mouse_move{
	z-index:14;display:none;
	cursor:none
}

.graph 
#mouse_move{
	display:block
}

.round 
#mouse_move{
	display:none!important
}

#line{
	width:1px;
	top:0}

/*The year displayed on top*/
#current_year{
	z-index:3; /*Means that it is placed over other objects, positive number are closer to the user*/
	font-size:12px;
	padding:3px 5px;
	top:0;
	font-weight:700;
}

#current_year 
span{
	font-weight:400
}

#cursor{
	width:8px; /*Size of the ball*/
	height:8px; /*Size of the ball*/
	border-radius:50%;
	margin:-4px;
	position:absolute;
}



