
/*Hovers*/

a:hover {
    cursor: pointer;
}

button:hover{
    color: black;
}

circle:hover{
    cursor: pointer;
}

body { 
    margin:0; 
    padding:0; 
    background: #eeeeee;

}

button {
    background-color: gray; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;

}

button.active {
	background-color: #cccccc;
	border-radius: 8px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 36px;
    text-align: center;
    color: gray;
}

hr {
    color: #cccccc;
    background-color: #cccccc;
    height: 5px;
    margin: 0px;
    padding: 0px;
}

p {
    text-align: center;
}

/*Id*/

#article_list_container {
    position: fixed;
    right: 0px;
    width: 220px;
    padding: 6px;
    margin: 10px;
    border-radius: 6px;
    background: rgba(100, 100, 100, 0.4);
    z-index: 999;
}

#article_list {
    border-radius: 6px;
    overflow: auto;
    padding: 6px;
    color: black;
    background: #fff;
    opacity: 0.7;
}

#article_list li {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee #ffffff;
}

#article_list li:hover {
    background:#bbb;
    cursor: pointer;
}

#article_list_header {
    color: white;
}

#back {
	position: absolute;
	left: 25px;
	top: 60px;
}

#footer {
    text-align: center;
    font-size: 100%;
    font-family: 'Roboto';
}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; /*Reglera den här om man vill ha plats för en timeline längst ned.*/
    width:0px; 
    height:0px; /* Eller ändra den här...*/
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

#marked_word {
    background-color: yellow;
}

#modalImage {
    max-width: 300px;
    max-height: 200px;
}

#newMainArticle {
    text-align: right;
}

#popup{
    position: fixed;
    background: rgba(0,0,0,.8);
    display: none;
    top: 20px;
    left: 50px;
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
} 

#random {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

/*Classes*/

.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Roboto', Arial, Helvetica, sans-serif;
}

.marker-title {
        font-weight: 700;
        font-size: 24px;
        font-family: 'Playfair Display', serif; 
        text-transform: uppercase;
}

.modal-title{
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: gray;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-footer {
    padding:9px 15px;
    border-top:1px solid #eee;
    background-color: gray;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}





