
/*--------------------------------------------------------
                      HOVERS 
/*------------------------------------------------------*/

a:hover {
    cursor: pointer;
}

button:hover{
    color: black;
}


circle:hover{
    cursor: pointer;
}

html,
body { 
    margin:0; 
    padding:0; 
    background: #dddddd;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60%;
    background-color:#002533;
    color: white;
}


h1 {
    font-family: 'Playfair Display', Arial;
    font-size: 40px;
    text-align: center;
    color: white;
}

h2 {
    font-family: Arial, sans-serif; 
    font-size: 25px;
    text-align: center;
    color:black;
    text-transform: uppercase;
    font-weight: bold;

}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 36px;
    text-align: center;
    color: white;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 70;
    font-size: 30px;
    text-align: center;
    color: gray;

}

/*används ej?*/
hr {
    color: #C9FF8F;     /* #cccccc */
    background-color: #496A6F;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

p {
    text-align: center;
}

section#search
{
    padding-top:50px;
    height:40%;
    width: 100%;
    background-color: #E0E2FF;
    color: black;

}



/*button {
    background-color: gray; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}*/


button#search
{
    background-color: #F99C08;
    color: white;
    padding: 7px;
}

input#searchtext 
{
    width: 40%;
}

footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}



/*--------------------------------------------------------
                            ID
/*------------------------------------------------------*/


#transbox {
    position: fixed;
    width: 33%;
    /*padding-top: 1px;*/
    margin: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgba(73, 106, 111, 0.4);
    z-index: 10;
}

#middle_row {
    color: white;
}

#right_time_handle {
    cursor: pointer;
}

#left_time_handle {
    cursor: pointer;
}

#article_list_container {
    position: fixed;
    right: 0px;
    width: 220px;
    padding: 6px;
    margin: 10px;
    border-radius: 6px;
    background: rgba(100, 100, 100, 0.4);
    z-index: 999;
}

#article_list_container_time {
    position: fixed;
    right: 0px;
    width: 220px;
    padding: 6px;
    margin-right: 10px;
    top: 75px;
    border-radius: 6px;
    background: rgba(100, 100, 100, 0.4);
    z-index: 10;
}

#article_list {
    border-radius: 6px;
    overflow: auto;
    padding: 6px;
    color: black;
    background: #fff;
    opacity: 0.7;
}

#article_list_time {
    border-radius: 6px;
    overflow: auto;
    padding: 6px;
    color: black;
    background: #fff;
    opacity: 0.7;
}

#article_list li {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee #ffffff;
}

#article_list li:hover {
    background:#bbb;
    cursor: pointer;
}

#article_list_time li {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee #ffffff;
}

#article_list_time li:hover {
    background:#bbb;
    cursor: pointer;
}

#article_text{
    text-align: left; 
}

#back {
	position: absolute;
	left: 25px;
	top: 60px;
}

#footer {
    text-align: center;
    font-size: 100%;
    font-family: 'Roboto';
}


#map { 
    position:absolute; 
    top:0; 
    bottom:0; /*Reglera den här om man vill ha plats för en timeline längst ned.*/
    width:0px; 
    height:0px; /* Eller ändra den här...*/
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

#marked_word {
    background-color: yellow;
}

#modalImage {
    max-width: 300px;
    max-height: 200px;
}

#newMainArticle {
    text-align: right;
}

#popup{
    position: fixed;
    background: rgba(0,0,0,.8);
    display: none;
    top: 20px;
    left: 50px;
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
} 

#random {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

/*--------------------------------------------------------
                        CLASSES
/*------------------------------------------------------*/

.article_list_header {
    color: white;
    text-align: center;
    margin: 10;
}

.article_list_header:hover {
    color: black;
    cursor: pointer;
}


.clock {
    margin-bottom: 10px;
    margin-left: 10px;
}

.clock:hover{
    cursor:pointer;
}

div.tooltip {   
    position: absolute;         
    text-align: center;         
    min-width: 60px;                    
    min-height: 10px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: white; 
    border: 0px;        
    border-radius: 3px;         
    pointer-events: none;           
}

.globe {
    margin-bottom: 10px;
    margin-left: 10px;
}

.globe:hover{
    cursor:pointer;
}


.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left; 
}

.marker-title {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Playfair Display', serif; 
    text-transform: uppercase;
    text-align: left;
}

.modal-title{
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-family: 'Playfair Display', serif; 
    
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: gray;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-footer {
    padding:9px 15px;
    border-top:1px solid #eee;
    background-color: gray;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


.wiki_title{
    font-weight: 500;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif; 
}


#place_right{
    position: absolute;
    right: 30px;
    top: 10px;
}

#topmargin{
    top: 10px;
    margin: 0;
    padding: 0;
}

#header_row{
    background-color: #304755;
    font-color: #ffffff;
    padding: 0;
    margin: 0;
}

<<<<<<< HEAD
#article_list_header_time:hover {
    color: black;
    cursor: pointer;
}

/*--------------------------------------------------------
                       NAVBAR
/*------------------------------------------------------*/



/* Bra sida som genererar navbar CSS: http://work.smarchal.com/twbscolor/ */
.navbar{
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.navbar-brand {
    float: none;
    color: white;
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif; 
}




.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.navbar-default {
  background-color: #002533;
  border-color: #002533;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eaebec;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eaebec;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eaebec;
  background-color: #f99c08;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eaebec;
  background-color: #f99c08;
}
.navbar-default .navbar-toggle {
  border-color: #f99c08;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f99c08;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #eaebec;
}

@media (max-width: 60px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eaebec;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eaebec;
    background-color: #f99c08;
  }
}

.navbar-header {
    position: relative;
    z-index: 1000;
}

/*Search form*/
 #custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}
 
#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
 
.search-query:focus + button {
    z-index: 100;   
}