
/*--------------------------------------------------------
                      HOVERS 
/*------------------------------------------------------*/

a:hover {
    cursor: pointer;
}

button:hover{
    color: black;
}

circle:hover{
    cursor: pointer;
}

html,
body { 
    margin:0; 
    padding:0; 
    background: #dddddd;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60%;
    background-color:#002533;
    color: white;
}


h1 {
    font-family: 'Playfair Display', Arial;
    font-size: 40px;
    text-align: center;
    color: white;
}

h2 {
    font-family: Arial, sans-serif; 
    font-size: 25px;
    text-align: center;
    color:black;
    text-transform: uppercase;
    font-weight: bold;

}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 36px;
    text-align: center;
    color: white;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 70;
    font-size: 30px;
    text-align: center;
    color: gray;

}

/*används ej?*/
hr {
    color: #C9FF8F;     /* #cccccc */
    background-color: #496A6F;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

p {
    text-align: center;
}

section#search
{
    padding-top:50px;
    height:40%;
    width: 100%;
    background-color: #E0E2FF;
    color: black;

}

input.globe {
    background-image: url(../img/globe-red.png) no-repeat;
    cursor:pointer;
    width: 40px;
    height: 40px;
    border: none;
}
input.globe:focus{
    color:#f23;
    font-weight: bold;
    border: 2px solid #f23;
}

button {
    background-color: gray; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}


button#search
{
    background-color: #F99C08;
    color: white;
    padding: 7px;
}

input#searchtext 
{
    width: 40%;
}

footer{
    background-color: #102C5B;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}


/*--------------------------------------------------------
                            ID
/*------------------------------------------------------*/


#transbox {
    position: fixed;
    width: 33%;
    /*padding-top: 1px;*/
    margin: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgba(73, 106, 111, 0.4);
    z-index: 10;
}

#middle_row {
    color: white;
}

#right_time_handle {
    cursor: pointer;
}

#left_time_handle {
    cursor: pointer;
}

#article_list_container {
    position: fixed;
    right: 0px;
    width: 220px;
    padding: 6px;
    margin: 10px;
    border-radius: 6px;
    background: rgba(100, 100, 100, 0.4);
    z-index: 999;
}

#article_list_container_time {
    position: fixed;
    right: 0px;
    width: 220px;
    padding: 6px;
    margin-right: 10px;
    top: 75px;
    border-radius: 6px;
    background: rgba(100, 100, 100, 0.4);
    z-index: 10;
}

#article_list {
    border-radius: 6px;
    overflow: auto;
    padding: 6px;
    color: black;
    background: #fff;
    opacity: 0.7;
}

#article_list_time {
    border-radius: 6px;
    overflow: auto;
    padding: 6px;
    color: black;
    background: #fff;
    opacity: 0.7;
}

#article_list li {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee #ffffff;
}

#article_list li:hover {
    background:#bbb;
    cursor: pointer;
}

#article_list_time li {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee #ffffff;
}

#article_list_time li:hover {
    background:#bbb;
    cursor: pointer;
}

#article_text{
    text-align: left; 
}

#back {
	position: absolute;
	left: 25px;
	top: 60px;
}

#footer {
    text-align: center;
    font-size: 100%;
    font-family: 'Roboto';
}

#icon {
    margin-bottom: 10px;
    margin-left: 10px;

}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; /*Reglera den här om man vill ha plats för en timeline längst ned.*/
    width:0px; 
    height:0px; /* Eller ändra den här...*/
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

#marked_word {
    background-color: yellow;
}

#modalImage {
    max-width: 300px;
    max-height: 200px;
}

#newMainArticle {
    text-align: right;
}

#popup{
    position: fixed;
    background: rgba(0,0,0,.8);
    display: none;
    top: 20px;
    left: 50px;
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
} 

#random {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

/*--------------------------------------------------------
                        CLASSES
/*------------------------------------------------------*/

.article_list_header {
    color: white;
    text-align: center;
    margin: 10;
}

.article_list_header:hover {
    color: black;
    cursor: pointer;
}

div.tooltip {   
    position: absolute;         
    text-align: center;         
    min-width: 60px;                    
    min-height: 10px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: white; 
    border: 0px;        
    border-radius: 3px;         
    pointer-events: none;           
}


.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left; 
}

.marker-title {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Playfair Display', serif; 
    text-transform: uppercase;
    text-align: left;
}

.modal-title{
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-family: 'Playfair Display', serif; 
    
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: gray;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-footer {
    padding:9px 15px;
    border-top:1px solid #eee;
    background-color: gray;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


#place_right{
    position: absolute;
    right: 30px;
    top: 10px;
}

#topmargin{
    top: 10px;
    margin: 0;
    padding: 0;
}

#header_row{
    background-color: #304755;
    font-color: #ffffff;
    padding: 0;
    margin: 0;
}

#inaccessible_area_left {
    background-color: red;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -1;
    opacity: 0.3;
    z-index: 10;
}

#inaccessible_area_right {
    background-color: blue;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -1;
    right: 0;
    opacity: 0.3;
    z-index: 10;
}


/*--------------------------------------------------------
                       NAVBAR
/*------------------------------------------------------*/


.navbar-default .navbar-brand {
  background-color: #002533;
  color:white;
  font-family:  "Playfair Display", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: white;
}
.navbar-default .navbar-collapse {
  border-color: #002533;
}
.navbar-default .navbar-toggle {
  background-color: #002533;
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #002533;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #002533;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #E0E2FF;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #E0E2FF;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #E0E2FF;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
