
#footer {
	text-align: center;
	font-size: 100%;
	font-family: 'Roboto';
}


p {
	text-align: center;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 36px;
	text-align: center;
	color: gray;
}

button:hover{
	color: black;
}

button {
    background-color: gray; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;

}

button.active {
	background-color: #cccccc;
	border-radius: 8px;
}

body { 
	margin:0; 
	padding:0; 
}  

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}
        
#random {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

#back {
	position: absolute;
	left: 10px;
	top: 5px;
}