<!--*******************************************************************************************************
    
DET HÄR BLIR ALLTSÅ DEN ANDRA VYN.(Som kommer från orginalet)

This is the second page.
First page -> Second page
index_text.html -> index2_test.html

This page uses pages/header2.html as header. 


********************************************************************************************************-->
<!-- This code is written with angular.js -->


<!DOCTYPE html svg PUBLIC "-//W3C//DTD SVG 1.0//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<html ng-app="wikiSearch">
	<head>

		<meta charset="UTF-8">

		<title>Wikinspire</title>

		<link rel="icon" type="image/png" href="img/favicon.png">
 		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
 	
 		<!-- Import Stylesheets and fonts. -->
 		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
 		<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
 		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 		<link rel="stylesheet" type="text/css" href="css/tipsy.css">

 		<!-- Import Mapbox, D3 and JQuery. -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 		<script type="text/javascript" src="js/libs/jquery.tipsy.js"></script>
 		<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
 		<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
 		<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
 		<script type="text/javascript" src="js/libs/angular.min.js"></script>

 		<!-- Import own javascript-files. -->
 		<script type="text/javascript" src="js/app.js"></script>
 		<script type="text/javascript" src="js/press_search_button.js"></script>
 		<script type="text/javascript" src="js/get_wiki_data.js"></script>
 		<script type="text/javascript" src="js/article_handler.js"></script>
 		<script type="text/javascript" src="js/links_handler.js"></script>
 		<script type="text/javascript" src="js/map.js"></script>
 		<script type="text/javascript" src="js/timeline_view.js"></script>
 		<script type="text/javascript" src="js/timeline_controller.js"></script>


		<!--Modal popup-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	</head>

	<body style="overflow: hidden; width:100%;height:100%;margin:0;">

		<!-- Section is a container for the whole page. -->
		<section ng-init="page = 3" class="page" ng-controller="PageController as pageCtrl" >
		<!-- The page The page consists of three rows that are placed above each other. "Header_row" "upper_row" and "lower_row". -->
			
			<!-- 1st row, top of the page. -->
	        <div class="row" id="header_row">

	        	<!-- The row is divided in 3 columns with the same size, which are empty to get the information in the center of the page. -->
		        
		        <!-- First column in row 1, up to the left -->
		        <!-- Column that contains searchfield and buttons -->
		        <div class="col-lg-4" id="topmargin">
		        	<input type="text", id="searchtext"></input>
 		 			<!--input type="submit" id="searchbutton2" name="submit" alt="search" value=""-->

 		 			<button id="searchbutton2"><i class="fa fa-search fa-1x" aria-hidden="true"></i></button>

 		 			<form name="search">
						<input type="hidden" name="textresult">
					</form>

					<script language="javascript">

						var locate = window.location
						document.search.textresult.value = locate
						var text = document.search.textresult.value

						function delineate(str)
						{
						point = str.lastIndexOf("=");
						return(str.substring(point+1,str.length));
						}
						document.getElementById("searchtext").value = delineate(text);
						previousSearch(delineate(text));

					</script> 



					<script>

						// If the button "search" is clicked, the search is activated.
						document.getElementById("searchbutton2").addEventListener("click", pressSearchButton);

						//Trigger searchbutton2 by clicking the enter key
						$("#searchtext").keyup(function(event){
	    					if(event.keyCode == 13){
	        					pressSearchButton();
    						}
						});

					</script>


						
					<!-- Buttons for the different pages: timeview and map ("tid" and "Plats") -->
					<!-- ICON FOR THE MAPVIEW -->
					<img class="globe" id="globe"; src="img/globe_white_small.png" alt="GlobeIcon" style="width:12%;" ng-class="{ active: pageCtrl.isSet(2) }" ng-click="pageCtrl.setPage(2)" onclick="changeGlobeImage(this)"/>


					<!-- handle icon when hovered -->
					<script  type='text/javascript'>
						$(document).ready(function(){
							$("#globe").mouseenter(function(){
								if($("#globe").attr("src") != "img/globe_orange_strong_small.png") {
									$("#globe").attr("src" , "img/globe_orange_weak_small.png");
								}
							});
							$("#globe").mouseleave(function(){
								if($("#globe").attr("src") != "img/globe_orange_strong_small.png") {
									$("#globe").attr("src" , "img/globe_white_small.png");
								}
							});

							$("#clock").mouseenter(function(){
								if($("#clock").attr("src") != "img/clock_orange_strong_small.png") {
									$("#clock").attr("src" , "img/clock_orange_weak_small.png");
								}
							});
							$("#clock").mouseleave(function(){
								if($("#clock").attr("src") != "img/clock_orange_strong_small.png") {
									$("#clock").attr("src" , "img/clock_white_small.png");
								}
							});

						});
					</script>

					<!-- handle icon when clicked -->
					<script>
					    function changeGlobeImage(element) {

					    	if($("#globe").attr("src") != "img/globe_orange_strong_small.png") {
					    		$("#globe").attr("src", "img/globe_orange_strong_small.png");
					    	}
					    	$("#clock").attr("src", "img/clock_white_small.png");
					     }
					</script>


					<!-- ICON FOR THE TIMEVIEW -->

					<img class="clock" id="clock" src="img/clock_white_small.png" alt="ClockIcon" style="width:12%;" ng-class="{ active: pageCtrl.isSet(1) }" ng-click="pageCtrl.setPage(1)" onclick="changeClockImage(this)">


					<!-- handle icon when clicked -->
					<script>
					    function changeClockImage(element) {
					    	if($("#clock").attr("src") != "img/clock_orange_strong_small.png") {
					    		$("#clock").attr("src", "img/clock_orange_strong_small.png");
					    	}
					    	$("#globe").attr("src", "img/globe_white_small.png");
					     }
					</script>


					<!--<button ng-class="{ active: pageCtrl.isSet(1) }" ng-click="pageCtrl.setPage(1)"> Tid </button>

					<button ng-class="{ active: pageCtrl.isSet(2) }" ng-click="pageCtrl.setPage(2)" onclick="hideStartpage()"> Plats </button> -->

					<!-- <button ng-class="{ active: pageCtrl.isSet(3) }" ng-click="pageCtrl.setPage(3)"> Övrigt </button>	-->

					<!-- Button triggs modal --> 
					<!--Can be nice to use if we want to work on the popup window-->
					<!--button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  Launch demo modal
					</button-->

						
		        </div>


		        <!-- Second column in row 1, in the middle -->
		        <!-- A column that contains the headlines for the different pages. 
		        The headline changes depending on which page is the current search. -->
		        <div class="col-lg-4">     

					<div class="pageCtrl" ng-show="pageCtrl.isSet(1)">
					</div>

					<div class="pageCtrl" ng-show="pageCtrl.isSet(2)">
					</div>

					<div class="pageCtrl" ng-show="pageCtrl.isSet(3)">
					</div>

					<div class="pageCtrl" ng-show="pageCtrl.isSet(4)">
						<p id="searchcompleted"></p>
					</div>

	        	</div>	

	        	<!-- Third/last column in row 1, up to the right-->

	        	<div class="col-lg-4"></div>

			    <div class="col-lg-4">

					<!-- Button triggs modal --> 
					<!--Can be nice to use if we want to work on the popup window-->
					<!--button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					Launch demo modal
					</button-->
				</div>
				<div class="infoButton">
					<!-- Buttons for the "övrigt" page, to be "info"-page -->
					<img id ="place_right" class="info" data-toggle="modal" data-target="#myInfoModal" src="img/info.png" style="width:3%;"></img>
					
			   	</div>

			   	<div id="myInfoModal" class="modal fade">
   					<div class="modal-dialog">
        				<div class="modal-content">
            				<div class="modal-header">
            					<!--The cross in top right corner of the modal-->
               					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                				<h4 class="modal-title">Info</h4>
           					</div>
							<div class="modal-info-body">
			                	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel vehicula erat. Phasellus vestibulum leo eu mi tempor blandit. Suspendisse eget iaculis lectus. Donec vitae tempus enim, quis tristique magna. Donec lobortis, sem ac pretium viverra, leo nisl consequat arcu, sit amet ullamcorper nunc turpis ac erat. In rutrum auctor ligula, quis mattis enim lacinia eu. Aliquam at magna a erat laoreet iaculis quis a justo. Donec porttitor vulputate massa, nec suscipit nisi mollis sed.
							</div>
						</div>
                    </div>
        
    			</div>


	    	<!-- End of 1st row, top of the page. -->
	    	</div>



		    <!-- Modal, the informationbox that appears when a button is beeing clickes -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  	<div class="modal-dialog" role="document">
				    <div class="modal-content">
				    	<div class="modal-header">

				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				        	<h4 class="modal-title" id="myModalLabel"><p id="artikel_titel"></p></h4>
				        	<p id="artikel_bild"></p>
				      	</div>

					    <div class="modal-body">
					        <div id="artikel_text"></div>
					    </div>

				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>				
				      	</div>
				    </div>
			  	</div>
			</div>

			<!--The line under the searchbutton2s-->
			

				<div class="col-lg-4"></div>
					<div class="col-lg-4">
										<div id="transbox">
							<h5 id="middle_row"></h5> 	
					</div></div>
				<div class="col-lg-4">						

				</div>



			<!--3rd row, the row at the bottom.-->		
   			<div class="row nomargin" id="lower_row">
   			<!--  -->
   				<!-- The row contains only one column that fills the entire screen width. -->
   				<div class="col-lg-12">

   					<!-- A container containing what is shown in the time view. -->
			    	<div class="pageCtrl" ng-show="pageCtrl.isSet(1)">

						<p id="tidsinfo"></p>

						<svg id= "svg"   style="width:100%;height:100%;margin:0;">

						</svg>

						<div id="inaccessible_area_left"></div>
						<div id="inaccessible_area_right"></div>

						<!-- The list with all articles displayed on the time-line. -->
						<div id='article_list_container_time'>
							<h3>Relaterade artiklar</h3>
							<h3 class='article_list_header' id="article_list_header_time" onclick='hideArticleList()'>
								<i class="fa fa-angle-double-down" id="article_list_arrow_time" aria-hidden="true"></i>
							</h3>
							
							<ul id='article_list_time'></ul>
						</div>


					</div>

					<!-- A container containing what is shown in the map-view. -->
					<div class="pageCtrl" ng-show="pageCtrl.isSet(2)">

						<!--Map container-->
						<div id='map'></div>

						<!-- The list with all articles displayed on the map. -->
						<div id='article_list_container'>
							<h3>Relaterade artiklar</h3>
							<h3 class='article_list_header' id="article_list_header_map" onclick='hideArticleListMap()'>
								<i class="fa fa-angle-double-down" id="article_list_arrow_map" aria-hidden="true"></i>
							</h3>

							<ul id='article_list'></ul>

						</div>

						<div id="map_footer"> 
							<h4 id="map_footer_text"> 
								<img src="img/pin_red.png" alt="Marker" style="width:2%"> Huvudartikel.	   
								<img src="img/pin_black.png" alt="Marker" style="width:2%"> Länkas från huvudartikeln.	
								<img src="img/pin_grey.png" alt="Marker" style="width:2%"> Länkar till huvudartikeln.		
								<img src="img/pin_green.png" alt="Marker" style="width:2%"> Stark relation, artikeln länkas till och från huvudartikeln.</h4>
						</div>

						<!--Button to go back to start page-->
						<button ng-click="pageCtrl.setPage(4)" id='back' onclick="hideStartpage()"><i class="fa fa-arrow-left" id=back""></i></button>
						
					</div>

					<!-- A container containing what is shown in the "övrigt" view.. -->
					<div class="pageCtrl" ng-show="pageCtrl.isSet(3)">
						<blockquote id="links"> </blockquote>
					</div>

					<!-- A container containing what is shown right after the search is done. -->
					<div class="pageCtrl" ng-show="pageCtrl.isSet(4)">
						<p id="sökgenomförd"></p>
						<blockquote id="artikelinfo"></blockquote>		
						<p id="artikel_kategori"></p>
					</div>

				</div>

	   		</div>

		</section>

	
		<script>
			//Generate the map when the page has loaded.
			$(document).ready(generateMap());
			$(document).ready(addTimeHandler());
			$(document).ready(console.log("Document is ready!"));

			//Set the height of the scroll-list with displayed articles to 65% or the screen height.
			$('#article_list').css('max-height', window.innerHeight * 0.6 + 'px');
			$('#article_list_time').css('max-height', window.innerHeight * 0.55 + 'px');

			//Prevent the article to become "unmarked" when the user clicks somewhere in the article list.
			$("#article_list_container_time")
				.mouseenter(function(){
					MOUSE_OVER_LIST = true;
				}).mouseleave(function(){
					MOUSE_OVER_LIST = false;});

			//Hide the article list in time-view by default.
			 $("#article_list_time").slideToggle();
			
		</script>

	</body>
</html>